* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

img,
a {
    -webkit-touch-callout: none;
}

input {
    outline: none;
}